@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background: black;
    color: white;
}
::-webkit-scrollbar{
    display: none;
}
ion-icon{
    position: relative;
    top: 5px;
    left: -10px;
}
.Headline{
    text-align: center;
    margin: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header h1{
    border-left: 50px solid red;
    letter-spacing: 5px;
    padding: 5px;
}
header a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 5px;
}
aside{
    margin-top: 100px;
}

.video{
    margin: 25px;
}
.video video{
    width: 100%;
}
.tagline {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 30px;
    gap: 20px;
}
.tagline span{
    font-size: 3.5rem;

}
.tagline a{
    margin-top: 10px;
    letter-spacing: 2px;
    background-color: red;
    color: white;
    padding: 10px;
}
/* section */
section {
    margin-top:100px;
}
img{
    width:500px;
    height: auto;
}

.content-1, .content-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.content-1 div h1{
    font-size: 3rem;
}
.content-1 div p{
    font-weight: 900;
    color: grey;
}
 button{
    position: relative;
    top: 20px;
    background: none;
    color: red;
    border: 1px solid red;
    padding: 10px;
    font: 1rem 'Raleway', sans-serif;
}
 button:hover{
    background: red;
    color: white;
}
.content-2 h1{
    font-size: 3rem;
}
.content-2 div p {
    font-weight: 900;
    color: grey;
}
.Arrival-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-items: center; 
    gap: 20px;
}
.Arrival-wrapper div img{
    width: 100%;
}
.Arrival-wrapper div{
    background: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Arrival-wrapper div h1{
    font-size: 1.1rem;
    text-align: center;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}
.Arrival-wrapper div p{
    background: red;
    padding: 10px;
    color: white;
    cursor: pointer;
}

/* sale wrapper */
.sale-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
    gap: 20px;
}
.sale-wrapper div img{
    width: 100%;
}
.sale-wrapper div{
    background: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: auto;
    transition: transform .3s ease;
}
.sale-wrapper div:hover{
    transform: translateY(-20px);
}

.sale-wrapper div h1{
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
/* content-wrapper*/
.content-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
    margin-top: 160px;
}
.content-wrapper img{
    width: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-right:1px solid red;
}
/* email-wrapper */
#email-wrapper{
background: white;
margin-top:150px;
height: 350px;
color: black;
display: flex;
justify-content: space-evenly;
align-items: center;
}
#email-wrapper h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
#email-wrapper h1::first-letter{
    color: palevioletred;
}
#email-wrapper p{
    font-weight: 900;
    color: grey;
}
#email-wrapper input{
    width: 100%;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.13rem;
    font-weight: 900;
}
#email-wrapper span{
    position: relative;
    top: 20px;
    background: red;
    padding: 10px;
    border-radius: 2px;
    color: white;
}
footer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 20px;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    padding: 20px;
    color: grey;
    font-weight: 900;
    transition: color .2s ease-in;
    cursor: pointer;
}
li:hover{
    color: white;
}

/* media queries */

@media screen and (max-width: 578px){

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }
    header h1{
        font-size: 1.1rem;
        letter-spacing: 2px;
        border-left: 25px solid red;
    }
    header a{
        font-size: 1rem;
        letter-spacing: 2px;
    }
    ion-icon{
        display: none;
    }
    aside{
        margin-top: 50px;
    }
    .video {
        margin: 0;
    }
    .video video{
        width: 100%;
        height: auto;
    }
    .tagline {
        display: flex;
        text-align: center;
        gap: 10px;
    }
    .tagline span{
        font-size: 2.29rem;
    }
    .tagline p{
        color: grey;
        font-weight: 900;
        font-size: .8rem;
    }
    section img{
        width: 100%;
        height: auto;
    }
    .content-1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .content-2{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    button{
        position: relative;
        top: 15px;
    }
    .Headline{
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0;
        margin: 80px;
    }
    .Arrival-wrapper, .sale-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }
    .Arrival-wrapper div{
        gap: 20px;
    }
    .content-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 50px;
        margin-top: 80px;
    }
    .content-wrapper .content{
        border-right: none;
    }
    #email-wrapper{
        text-align: center;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 50px;
    }
    #email-wrapper h1{
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
    #email-wrapper input{
        font-size: 1rem;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        align-items: flex-start;
        margin: 0;
    }
    footer ul{
        flex-direction: column;
    }
    li{
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
}

